$text-color: #c9c9c9;
$main-indent: 1.25rem;
$display-color: #1769e3;
$default-text-font: "Aldrich", sans-serif;
$run-button-icon-color: #25b16e;

body {
  margin: 0;
  padding: 0;
  background-image: url("cool-background-white.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: $default-text-font;
}

main {
  background: #2d2d2d;
  mix-blend-mode: hard-light;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top-controls {
    display: flex;
    justify-content: space-between;
  }

  .logo-line-top {
    border-top: 4px solid $text-color;
    position: relative;
    width: 13.5rem;
    left: $main-indent;
    top: $main-indent;
  }

  .logo-line-left {
    border-left: 4px solid $text-color;
    height: 3.25rem;
    position: relative;
    left: $main-indent;
    top: $main-indent;
  }

  .logo-line-bottom {
    border-top: 4px solid $text-color;
    position: relative;
    left: $main-indent;
    top: $main-indent;
    width: 11.25rem;
  }

  .logo-text {
    font-size: 2.9rem;
    color: $text-color;
    position: relative;
    top: -1.75rem;
    left: 2rem;
  }

  .display {
    margin-left: $main-indent;
    width: 17.5rem;
    height: 9rem;
    background: $display-color;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0 0 0.3rem 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .drum-kit {
    color: $text-color;
    font-family: "DotGothic16", sans-serif;
    font-size: 1.5rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }

  .pads,
  .notes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19.3rem;
    height: 19.3rem;
  }

  .pad-row,
  .note-row {
    display: flex;
    justify-content: space-between;
  }

  .pad,
  .note {
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 4.4rem;
    height: 4.4rem;
    background: #424242;
  }

  .pads {
    margin: $main-indent $main-indent 0.6rem $main-indent + 0.6rem;
  }

  .pad {
    color: $text-color;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .notes {
    width: 38.75rem;
    height: 8.75rem;
    margin: $main-indent;
  }

  .note {
    width: 3.8rem;
    height: 3.8rem;
    background: #a5a5a5;
  }
}
