$text-color: #c9c9c9;
$main-indent: 1.25rem;
$display-color: #1769e3;
$run-btn-text-color: #0d9151;
$clear-btn-text-color: #c42727;
$button-background-dark: #424242;
$button-background-light: #a5a5a5;
$border-color-dark: #101010;
$background-color-dark: #2d2d2d;
$playing-color: rgb(211, 19, 19);

@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto:wght@100;300&display=swap");
@font-face {
  font-family: "Digital Numbers Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Digital Numbers Regular"),
    url("DigitalNumbers-Regular.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  background-image: url("cool-background-white.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

*:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

main {
  background: $background-color-dark;
  mix-blend-mode: hard-light;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.top-controls {
  display: flex;
  justify-content: space-between;
}

.logo-line-top {
  border-top: 4px solid $text-color;
  position: relative;
  width: 13.5rem;
  left: $main-indent;
  top: $main-indent;
}

.logo-line-left {
  border-left: 4px solid $text-color;
  height: 3.25rem;
  position: relative;
  left: $main-indent;
  top: $main-indent;
}

.logo-line-bottom {
  border-top: 4px solid $text-color;
  position: relative;
  left: $main-indent;
  top: $main-indent;
  width: 11.25rem;
}

.logo-text {
  font-size: 2.9rem;
  color: $text-color;
  position: relative;
  top: -1.75rem;
  left: 2rem;
  font-family: "Aldrich", sans-serif;
}

.controls {
  font-size: 0.8rem;
  margin-left: $main-indent;
  color: $text-color;
  font-family: "Roboto", sans-serif;
}

#mode-btns {
  display: flex;
  margin: 0.1rem 0rem;
}

.control-btn {
  width: 5rem;
  height: 2.5rem;
  display: flex;
  font-size: 0.8rem;
  color: $text-color;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
  background: $button-background-dark;
  align-items: center;
  justify-content: center;
  span {
    font-size: 1.1rem;
  }
}

#run-btn {
  margin-right: 1.2rem;
  span {
    color: $run-btn-text-color;
  }
}

#select-mode-btn {
  margin-right: 1.2rem;
  span {
    color: $text-color;
  }
}

#clear-btn span {
  color: $clear-btn-text-color;
}

#tempo {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display-caption {
  margin-bottom: 0.2rem;
}

.tempo-btn {
  transform: scale(0.7);
}

#tempo-btn-down span {
  transform: rotate(180deg);
}

#display-tempo-wrap {
  display: flex;
  align-items: center;
}

#display-tempo {
  height: 2.5rem;
  width: 5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $display-color;
  box-shadow: inset 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Digital Numbers Regular", sans-serif;
}

.pads,
.notes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 19.3rem;
  height: 14.3rem;
}

.pad-row,
.note-row {
  display: flex;
  justify-content: space-between;
}

.pad,
.note {
  border: none;
  box-sizing: border-box;
  box-shadow: 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 4.4rem;
  height: 4.4rem;
  background: $button-background-dark;
  font-size: 1.4rem;
}

.pads {
  margin: $main-indent $main-indent 0.6rem $main-indent + 0.6rem;
}

.pad {
  font-family: "Roboto", sans-serif;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pad-caption {
  font-size: 0.6rem;
}

.playing {
  box-shadow: 0rem 0rem 0.7rem $playing-color;
  color: $playing-color;
}

.notes {
  width: 38.75rem;
  height: 8.75rem;
  margin: $main-indent;
}

.note {
  width: 3.8rem;
  height: 3.8rem;
  background: $button-background-light;
}
