@import "src/styles/common.scss";

.tempo {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  color: $text-color;
  font-family: "Roboto", sans-serif;
}

.display-caption {
  margin-bottom: 0.2rem;
}
.display-tempo-wrap {
  display: flex;
  align-items: center;
}
.tempo-btn {
  transform: scale(0.7);
}

.tempo-btn-down span {
  transform: rotate(180deg);
}

.display-tempo {
  height: 2.5rem;
  width: 5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $display-color;
  box-shadow: inset 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: "Digital Numbers Regular", sans-serif;
}
