@import "src/styles/common.scss";

.logo-line-top {
  border-top: 4px solid $text-color;
  position: relative;
  width: 13.5rem;
  left: $main-indent;
  top: $main-indent;
}

.logo-line-left {
  border-left: 4px solid $text-color;
  height: 3.25rem;
  position: relative;
  left: $main-indent;
  top: $main-indent;
}

.logo-line-bottom {
  border-top: 4px solid $text-color;
  position: relative;
  left: $main-indent;
  top: $main-indent;
  width: 11.25rem;
}

.logo-text {
  font-size: 2.9rem;
  color: $text-color;
  position: relative;
  top: -1.75rem;
  left: 2rem;
  font-family: "Aldrich", sans-serif;
}
