$text-color: #c9c9c9;
$main-indent: 1.25rem;
$display-color: #1769e3;
$btn-color-green: #0d9151;
$btn-color-red: #c42727;
$btn-background-dark: #424242;
$btn-background-light: #a5a5a5;
$border-color-dark: #101010;
$background-color-dark: #2d2d2d;
$playing-color-blue: $display-color;
$playing-color-red: #d31313;
$playing-color-green: $btn-color-green;

@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto:wght@100;300&display=swap");
@font-face {
  font-family: "Digital Numbers Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Digital Numbers Regular"), url("../fonts/DigitalNumbers-Regular.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/cool-background-white.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

*:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

main {
  background: $background-color-dark;
  mix-blend-mode: hard-light;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
